.header {
  background-color: whitesmoke;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #ddd;
}

.logo {
  height: 60px;
  padding: 1px 0;
}

.drawer-wrapper {
  position: fixed;
  background: whitesmoke;
  height: 100%;
  width: 70%;
  z-index: 999;
  top: 0;
  right: 0;
  overflow-y: scroll;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: 0.3s ease-in-out;
  padding: 16px;
  display: none;
  border: 1px solid #ddd;
  border-right: 0;
}

.drawer-close {
  position: absolute;
  top: 16px;
  right: 16px;
  transition: 0.9s ease-in-out;
}

.drawer-open {
  display: flex !important;
  flex-direction: column;
  transition: 0.9s ease-in-out;
}

.container {
  padding: 70px 16px 50px 16px;
}

.contact-us {
  margin-bottom: 50px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
}

.comming-soon {
  text-align: center;
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filter-sort-wrapper {
  position: fixed;
  background-color: whitesmoke;
  width: 100%;
  bottom: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
}

.filter-sort-sub-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  z-index: 10;
  border-top: 1px solid #ddd;
}

.filter-wrapper,
.sort-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 12px;
  cursor: pointer;
  color: #333;
  font-weight: 500;
}

.filter-divider {
  position: absolute;
  width: 1;
  height: 60%;
  background-color: #777;
  right: 50%;
}

.filter-section-wrapper {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: none;
}

.image {
  width: 100%;
}

.filter-section-open {
  display: block;
}

.product-type {
  color: white;
}

.contact-person {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
}
