.header {
  background-color: black;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo {
  height: 60px;
  padding: 1px 0;
}

.drawer-wrapper {
  position: fixed;
  background: whitesmoke;
  height: 100%;
  width: 70%;
  z-index: 999;
  top: 0;
  right: 0;
  overflow-y: scroll;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: 0.3s ease-in-out;
  padding: 16px;
  display: none;
}

.drawer-close {
  position: absolute;
  top: 16px;
  right: 16px;
  transition: 0.9s ease-in-out;
}

.drawer-open {
  display: flex !important;
  transition: 0.9s ease-in-out;
}

.container {
  padding: 70px 16px 16px 16px;
}
